/* Existing CSS */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-weight: 900;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(56, 140, 184);
  border-color: rgb(56, 140, 184);
  border-radius: 10px;
  size-adjust: auto;
  background-color: rgb(247, 246, 144);
  padding: 10px;
  border: 2px solid rgb(56, 140, 184);
  box-shadow: 2px 1px 3px rgb(56, 140, 184);
}

/* Style for the logo */
.logo {
  width: 70px;
  height: 70px;
  margin-right: 10px; /* Add margin to separate logo from h1 */
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 1000;
  color: rgb(56, 140, 184);
  font-family: system-ui;
}

/* Media Queries for Responsiveness */

/* Mobile Devices */
@media (max-width: 768px) {
  .app {
    padding: 10px;
  }
  .header {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }
  .logo {
    margin: 0 0 10px; /* Add margin to separate logo from h1 */
  }
  h1,
  .logo {
    text-align: center; /* Center the text and logo horizontally */
  }
}

/* Tablets and Small Desktops */
@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    padding: 15px;
  }
  .header {
    flex-direction: column; /* Stack elements vertically on medium screens */
    align-items: center;
  }

  h1,
  .logo {
    text-align: center; /* Center the text and logo horizontally */
  }
}

/* Large Desktops and Wider Screens */
@media (min-width: 1025px) {
  .app {
    padding: 20px;
  }
  .header {
    justify-content: center; /* Center both elements horizontally */
    align-items: center; /* Center both elements vertically */
  }

  h1,
  .logo {
    text-align: center; /* Center the text and logo horizontally */
  }
}
