.popup-inner {
  display: inline-block; /* Use inline-block for dynamic width */
  align-items: center;
  color: rgb(56, 140, 184);
  background-color: rgb(247, 246, 144);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(56, 140, 184);
  box-shadow: 2px 1px 3px rgb(56, 140, 184); /* Shadow */
}

.popup-buttons {
  padding: 5px;
  align-items: center;
}

textarea.Notes {
  display: flex;
  align-items: center;
  color: rgb(56, 140, 184);
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  border: 1px solid rgb(56, 140, 184);
  background-color: white;
  height: 200px; /* Postavite željenu visinu */
  width: 200px;
}
/* box-shadow focus */
textarea.Notes:focus {
  box-shadow: 3px 2px 5px rgb(56, 140, 184); /* Shadow */
  outline: none; /* remove black border when typing*/
}
