/* TaskItem.css */

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-status {
  margin-right: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.task-status.new {
  background-color: #fb3636;
  color: white;
}

.task-status.processing {
  background-color: #ffff43;
  color: white;
}

.task-status.done {
  background-color: hsl(145, 85%, 57%);
  color: white;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto; /* Move to the right side */
  margin-right: 10px; /* Add 10px margin */
}

button:hover {
  background-color: #ff7e63;
}
.buttons-right {
  margin-left: auto; /* Move to the right side */
  margin-bottom: 20px;
}
