/* CSS for the select element with id "filter" */
#filter {
  color: rgb(56, 140, 184);
  font-weight: bold;
  padding: 5px;
  border: 1px solid rgb(56, 140, 184);
  border-radius: 10px;
  background-color: rgb(247, 246, 144);
}

#filter:hover {
  box-shadow: 2px 1px 3px rgb(56, 140, 184); /* Shadow */
  outline: none; /* Remove the default focus outline */
}
#filter:focus {
  box-shadow: 2px 1px 3px rgb(56, 140, 184); /* Shadow */
  outline: none; /* Remove the default focus outline */
}

/* Existing CSS for .task-filter */
.task-filter {
  align-items: center;
  margin-top: 40px;
}

label {
  margin-right: 5px;
  color: rgb(56, 140, 184);
}
